<a href="https://colab.research.google.com/github/shakifshakif/Dummy/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [165]:
import pandas as pd

In [166]:
data = pd.read_excel("AD Dump_License_Asset Details.xlsx")

In [167]:
# Main Engine of the script - for extraction
def extract_all_after_ou_clean(text):
    extracted_values = []
    for part in reversed(text.split(",")):  # Iterate in reverse order
        if part.startswith("OU="):  # Only extract if part starts with "OU="
            extracted_values.append(part[part.index("=") + 1:].strip("[]"))  # Extract from "=" to end, remove brackets
    return ", ".join(extracted_values)  # Join with ", " after removing quotes

In [168]:
# Sub-Engine of the script - after extraction
data["extracted_values_clean_3"] = data["ParentContainer"].apply(extract_all_after_ou_clean)

In [169]:
# Defining new column names
new_col_names = ['Col_1', 'Col_2', 'Col_3', 'Col_4', 'Col_5', 'Col_6', 'Col_7']

In [170]:
# Intel picking the values as per user
max_values = max(len(x.split(",")) for x in data["extracted_values_clean_3"])
new_col_names = [f"Column_{i}" for i in range(max_values)]
data[new_col_names] = data["extracted_values_clean_3"].str.split(",", expand = True)

In [171]:
# Define new column names
new_col_names = {
    "Column_0": "High_Location",
    "Column_1": "Location_",
    "Column_2": "Sub_Location",
    "Column_3": "Department",
    "Column_4": "Sub_department",
    "Column_5": "Sub_department_1",
    "Column_6": "Sub_Department_2",
    "Column_7": "Sub_Department_3"}

In [172]:
# Finalizing the column names
data.rename(columns=new_col_names, inplace = True)

In [173]:
# Replacing Asia
data['High_Location'] = data.apply(lambda row: row['Sub_Location'] if row['High_Location'] == 'Asia' else row['High_Location'], axis=1)

In [174]:
# Rplacing Asscociates
data['High_Location'] = data.apply(lambda row: row['Sub_Location'] if row['High_Location'] == 'Asscociates' else row['High_Location'], axis=1)

In [175]:
# Replacing USA
data['High_Location'] = data.apply(lambda row: row['Location_'] if row['High_Location'] == 'USA' else row['High_Location'], axis=1)

In [176]:
# Replacing Datacenter
data['High_Location'] = data.apply(lambda row: row['Location_'] if row['High_Location'] == 'Datacenter' else row['High_Location'], axis=1)

In [ ]:
# Inverse replacement of Sri Lanka
data.loc[data['Location_'] == 'Sri Lanka', 'High_Location'] = 'Sri Lanka'

In [ ]:
# data.loc[data['High_Location'] == 'USA', 'High_Location'] = data[data['High_Location'] == 'USA']['Location']

In [ ]:
# Columns to fill which are blanks - trick
data['High_Location'] = data['High_Location'].fillna('')

In [180]:
# Values to be stripped
data['High_Location'] = data['High_Location'].str.strip()

In [181]:
# Saving the final product to excel
data.to_excel("AD-Users-2024-01-10_updated_test.xlsx", index=False)